#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.App-pg {
  text-align: center;
}

.GPS {
  flex-grow: 1;
  margin-right: 5px;
  margin-top: 10px;
  width: 60%;
}

.App-pg > h1,
.App-pg > h2,
.App-pg > h3,
.App-pg > h4,
.App-pg > h5,
.App-pg > h6,
.cart-title {
  color:#333333;
}

.pg-override {
  color: #333333 !important;
}

.container {
  display: grid;
  font-family: arial;
  border-top-width: 28px;
  border-color: #990000;
  border-bottom-width: 2px;
  border-style: solid;
  grid-row-start: 2;
  grid: repeat(4, 36px) / auto-flow dense;
  padding: 5px;
  height: calc(100% - 47px);
};

.label {
  margin-top: '-10px';
  position: relative;
  top: 24px;
  left: 3px;
  font-family: arial;
  font-size: 16px;
  z-index: 1;
  color: white;
}

.card {
  border-color: #990000;
  border-style: solid;
  border-width: 3px;
}

hr {
  border-style: solid;
}